<footer class="footer w-100">
        <div class="footer-container row w-100">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
        <div id="desingedFooter"><span>Produced by Sipmarch7 and ChriTry</span></div>
    </footer>