
<div style="min-height: 50px;"></div>
<footer class="footer w-100">
        
        <div id="desingedFooter" class="row w-100">

            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span>Developed by Sipmarch7</span>
            </div>
            <div class="col-md-4">
                <span id="underFooter">For Inquaries contact me at 
                    <a href = "mailto: sipmarch7@gmail.com">sipmarch7@gmail.com</a>
                </span>
            </div>
            
        </div>
        
</footer>
{{!-- class="background-image" div inside header --}}
</div>  
{{!-- class="background-image" div inside header --}}



{{!-- <script src="js/header.js"></script> --}}