<header>
    <div id="topLinkLine"></div>
    <div id="header" class="w-100">
        <div class="container header-container row">

            <div class="col-6 header-menu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="navbar-toggler-icon" src="img/toggler.png" alt="toggler"></img>
                </button> 
                <div class="nav-menu collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav justify-content-between">
                        <li class="nav-item"><a href="/" class="nav-link">Αρχική</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Συχνές Ερωτήσεις</a></li>
                        <li class="nav-item" id="orderNavItem" style="display: none;"><a href="/" style="border:solid;" class="nav-link">Παράγγειλε τώρα
                            <img src="../img/cart.png" alt="image for cart" width="25px"></a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Gallery</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Επικοινωνία</a></li>                
                    </ul>
                </div>
            </div>
            
            <div class="col-3 header-logo">
                    <a href="/"><img src="img/logos/x-navbar-logo.png" alt="Shisha hub Logo" id="navbar-logo" width="230px"></a>
            </div>

            <div class="col-3 header-account dropdown row">

                <a class="nav-link" href="#"  role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../img/accountIcon.png" alt="image for account" width="25px">
                </a>
                <a href="/" class="nav-link" ><span id="orderAccountLink">Παράγγειλε τώρα</span>
                    <img src="../img/cart.png" alt="image for cart" width="25px">
                </a>

                <div class="dropdown-menu" id="drpdown-login">
                    <form action="/login" method="post" class="px-2" >
                        <div class="form-group ">
                            <label for="exampleDropdownFormEmail1">Email</label>
                            <input type="email" class="form-control " id="exampleDropdownFormEmail1" 
                                name="username" placeholder="👤 email">
                        </div>
                        <div class="form-group ">
                            <label for="exampleDropdownFormPassword1">Password</label>
                            <input type="password" class="form-control " id="exampleDropdownFormPassword1" 
                                name="password" placeholder="🔑 password">
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary logIn-button ">Log In</button>
                            <a href="#" type="button" class="btn btn-primary logIn-button">Register</a>
                        </div>
                    </form>
                </div>
            </div>
            

        </div>
    </div>
</header>
