<header>
    <div id="topLinkLine"></div>
    <div id="header" class="w-100">
        <div class="container header-container row">

            <div class="col-6 header-menu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="" src="/img/toggler.png" alt="toggler"></img>
                </button> 
                <div class="nav-menu collapse " id="navbarNav">
                    <ul class="navbar-nav justify-content-between">
                        <li class="nav-item"><a href="/" class="nav-link"><span>Αρχική</span></a></li>
                        <li class="nav-item"><a href="/faqs" class="nav-link"><span>Συχνές Ερωτήσεις</span></a></li>
                        <li class="nav-item" id="orderNavItem" ><a href="/product" style="border:solid;" class="nav-link">
                            <span>Παράγγειλε τώρα</span>
                            <img src="/img/cart.png" alt="image for cart" width="25px"></a>
                        </li>
                        <li class="nav-item"><a href="https://www.instagram.com/shishahub.lc/" class="nav-link" target="_blank"><span>Gallery</span></a></li>
                        <li class="nav-item"><a href="/contactUs" class="nav-link"><span>Επικοινωνία</span></a></li>                
                    </ul>
                </div>
            </div>
            
            <div class="col-3 header-logo">
                    <a href="/"><img src="/img/logos/x-navbar-logo.png" alt="Shisha hub Logo" id="navbar-logo" width="230px"></a>
            </div>

            <div class="col-3 header-account row">
                {{#if user.user_id}}
                <div class="dropdown show col-6 p-0">
                    <a role="button" class="nav-link w-100" href="#loggedIn-dropdown" data-toggle="collapse" aria-expanded="false" aria-controls="loggedIn-dropdown">
                        <img src="../img/accountIcon.png" alt="image for account" width="25px">
                        <br><span style="overflow: hidden; font-size:0.4rem">{{user.email}}</span>         
                    </a>
                    <div class="collapse" id="loggedIn-dropdown">
                        <div class="container p-0">
                            <div class="row m-2" >
                                <a href="/myAccount" class="w-100 py-2">Τα στοιχεία μου</a>
                            </div>
                            <hr>
                            <div class="row m-2" >
                                <a href="#" class="w-100 py-2">Οι παραγγελίες μου</a>
                            </div>
                            <hr>
                            <div class="row m-2" >
                                <a href="/login/logout"  class="btn btn-danger logIn-button ">Αποσύνδεση</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-0" id="orderAccountLink">
                    <a href="#" class="nav-link w-100"><span>Παράγγειλε τώρα</span>
                        <img src="/img/cart.png" alt="image for cart" width="25px">
                    </a>
                </div>
                {{else}}
                <div class="dropdown show col-6 p-0">
                    <a class="nav-link w-100" href="#drpdown-login"  role="button" id="accountToggle" data-toggle="collapse" aria-controls="drpdown-login" aria-expanded="false">
                        <img src="/img/accountIcon.png" alt="image for account" width="25px">
                    </a>
                    <div class="collapse" id="drpdown-login">
                        <form action="/login" method="POST" class="px-2" >
                            <div class="form-group ">
                                <label for="exampleDropdownFormEmail1">Email</label>
                                <input type="email" class="form-control " id="exampleDropdownFormEmail1" 
                                    name="email" placeholder="👤 email">
                            </div>
                            <div class="form-group ">
                                <label for="exampleDropdownFormPassword1">Τηλέφωνο</label>
                                <input type="password" class="form-control " id="exampleDropdownFormPassword1" 
                                    name="password" placeholder="🔑 = 📞 Τηλέφωνο">
                            </div>
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary logIn-button ">Σύνδεση</button>
                                <a href="/register"  class="btn btn-primary logIn-button">Εγγραφή</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 p-0" id="orderAccountLink">
                    <a href="/product" class="nav-link w-100"  ><span>Παράγγειλε τώρα</span>
                        <img src="/img/cart.png" alt="image for cart" width="25px">
                    </a>
                </div>
                {{/if}}
                
                
            </div>
        </div>
    </div>
</header>
