<!DOCTYPE html>
<html lang="el">
<head>
    
    {{> head }}

    <title>Shishahub - Deluxe Hookah Delivery στο χώρο σας</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/orderConfirmation.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->
    <main>
        
        <div class="container w-100 ">
            <div class="p-1 m-1">
                <div class="loginPage p-5 my-3 text-center">
                    <span style="font-size: 1.2em;">Η αποστολή της φόρμας ήταν ανεπιτυχής.</span>
                    <br><br>
                    <span style="color: rgb(116, 116, 116);"> Ξαναπροσπάθησε Αργότερα</span>

                </div>
            </div>
        </div>

    </main>
<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->
    
</body>

</html>