<!DOCTYPE html>
<html lang="el">
<head>
    
    {{> head }}

    <title>Επικοινωνία - Shishahub: Deluxe Hookah Delivery στο χώρο σας</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/contactUs.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->
    <main>
        <div class="container w-100">
            <div class="row reverse-row">
                
                <div class="col-lg-7 whiteBlocks">
                    <div class="contact-form p-4">
                    <form action="/contactUs/sendEmail" method="POST" >
                        <div><h3>Επικοινωνείστε μαζί μας</h3></div>
                        <div class="row w-100 text-center" id="error"><span class="optional w-100">{{warning}}</span></div>
                        <div class="row w-100 mx-auto my-1">
                            <label class="col-12" for="firstname surname">Ονοματεπώνυμο &nbsp <span> ( <sup>*</sup>μόνο γράμματα ) </span></label>
                            <input class="fields col-5" type="text" id="firstname" name="firstname" placeholder=" Όνομα">
                            <input class="fields col-5 ml-3" type="text" id="lastname" name="lastname" placeholder=" Επώνυμο">
                        </div>
                        <div class="row w-100 mx-auto my-1">
                            <label class="col-12" for="email">E-mail</label>
                            <legend class="m-0"></legend>
                            <input class="w-100 fields" type="text" name="email" id="email" placeholder=" ✉️ Διεύθυνση e-mail" >
                        </div>
                        <div class="row w-100 mx-auto my-1">
                            <div class="col-5 p-0">
                                <label class="col-12" for="telephone">Τηλ. Επικοινωνίας</label>
                                <input class="fields w-100" type="text" id="telephone" name="telephone" placeholder="Τηλ. Επικοινωνίας">
                            </div>
                            <div class="col-5 ml-3 p-0 my-1">
                                <label class="col-12" for="instagram">Instagram <span>(<sup>*</sup>προαιρετικά)</span></label>
                                <input class="fields w-100" type="text" id="instagram" name="instagram" placeholder="@ig">
                            </div>
                        </div>
                        <div class="row w-100 mx-auto my-1">
                            <label class="col-12" for="subject">Μήνυμα &nbsp <span> ( <sup>*</sup>από 2 έως 600 χαρακτήρες ) </span> <br></label>
                            <textarea class="w-100 fields" id="textArea" name="textArea" placeholder="Γράψε εδώ το μήνυμά σου..."></textarea>
                        </div>
                        <div class="row w-100 mx-auto mt-2">
                            <input type="submit" class="btn btn-primary mx-auto mt-2" value="Υποβολή" id="submitButton">
                        </div>
                    </form>
                    </div>
                </div>
                <div class="col-lg-4 whiteBlocks social-media-block p-3">
                    <div class="text-center mt-1 mb-3"><h3>Social Media</h3></div>
                    <hr style="width: 80%;">
                    <div class="m-4 py-1 px-3">
                        <a href="https://www.facebook.com/shishahublc" target="_blank">
                            <img src="../img/facebookIcon.png" alt="Facebook page" height="25" width="25"> &nbsp
                            <span>Shishahub - Hookah Delivery</span>
                        </a>
                    </div>
                    <div class="m-4 py-1 px-3">
                        <a href="https://www.instagram.com/shishahub.hookah.delivery/" target="_blank">
                            <img src="../img/instagramIcon.png" alt="Instagram page" height="25" width="25"> &nbsp
                            <span>@shishahub.hookah.delivery</span>
                        </a>
                    </div>
                    <div class="m-4 py-1 px-3">
                        <a href="mailto:ekdotikosoikos2020@gmail.com?subject=Contact Us-Ekdotikos Oikos">
                            <img src="../img/gmailIcon.jpg" alt="gmail" height="18" width="25"> &nbsp
                            <span>shishahub.lc@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->
    
    <script src="/model/"></script>
    
</body>

</html>