<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sipmarch7">
    <meta name="description" content="Shisha hub delivery service shop">
    <meta name="keywords" content="HMTL, CSS, JS, Project, shisha, delivery, service, node.js, e-shop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQS - Shisha hub</title>
    <link rel="icon" type="image/png" href="/img/favicon2.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/header.css" rel="stylesheet" type="text/css">
    <link href="css/footer.css" rel="stylesheet" type="text/css">
    <link href="css/faqs.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->
    <main>
        <div class="container w-100">
            <div id="how-it-works-block">
                <div><h2>Πώς λειτουργεί;</h2></div>
                <div class="round-block">
                    <div class="card-list">
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-1" data-toggle="collapse" aria-expanded="false" aria-controls="card-1">
                                    <h4>1. Τι θα περιλαμβάνει το πακέτο μου;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-1">
                                <p>Κάθε πακέτο ναργιλέ θα φτάσει σπίτι σου συνοδευόμενο από άνθρωπο της εταιρίας μας, τον Shisha Expert. 
                                <br>Το πακέτο θα περιλαμβάνει:
                                <br>– 1 <span class="deluxe">Deluxe</span> Ναργιλές
                                <br>– Όσες γεύσεις επιλέξεις
                                <br>– Κάρβουνα επαρκή για τις ώρες ενοικίασής του
                                <br>– Ηλεκτρική θερμάστρα για τα κάρβουνα
                                <br>– Μπουκάλι με νερό
                                <br>– Led φωτάκι για μια εντυπωσιακή εμπειρία
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-2" data-toggle="collapse" aria-expanded="false" aria-controls="card-2">
                                    <h4>2. Τι είναι σημαντικό να γνωρίζω;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-2">
                                <p>Για τη δική σας καλύτερη εξυπηρέτηση, ο ειδικός μας θα χρειαστεί να παραμείνει στο χώρο σας 20-25 
                                    λεπτά κατά την παράδοση και την επιστροφή του ναργιλέ. Κατά την παράδοση θα ανάψει τα κάρβουνα και 
                                    θα ετοιμάσει τον ναργιλέ για να είναι έτοιμος για κάπνισμα. Αντίστοιχα στην επιστροφή, θα τον 
                                    αποσυναρμολογήσει, θα τον καθαρίσει και θα αποχωρήσει.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-3" data-toggle="collapse" aria-expanded="false" aria-controls="card-3">
                                    <h4>3. Θα με ενημερώσει κάποιος για την ακριβή ώρα της παράδοσης;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-3">
                                <p>Λίγα λεπτά αφού παραγγείλετε, θα σας καλέσουμε για επιβεβαίωση και λίγη ώρα πριν την 
                                    επιλεγμένη ώρα θα σας ενημερώσουμε ξανά ότι ο ειδκός μας είναι κοντά στο σπίτι σας.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-4" data-toggle="collapse" aria-expanded="false" aria-controls="card-4">
                                    <h4>4. Για πόσες ώρες μπορώ να νοικιάσω τον ναργιλέ;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-4">
                                <p>Μπορείτε να νοικιάσετε τον ναργιλέ για 4, 6 και 36 ώρες.
                                    Αυτές είναι οι προβλεπόμενες ώρες σύμφωνα με την διάρκεια της κάθε γεύσης.
                                    Φυσικά δεν μπορούν να τηρηθούν απόλυτα λόγω και των περιορισμών μετακίνησης. Δηλαδή οι ενοικιάσεις 
                                    που ολοκληρλώνονται μετά τις 11 θα επιστρέφονται το επόμενο πρωί μετά απο συννενόηση.
                                    Σχετικά με τις 36 ώρες, πρόκειται για μία εκτίμηση, όπου υπολογίζουμε ότι αν τον παραλάβετε στις 7μμ 
                                    μία Τρίτη, η επιστροφή θα γίνει Πέμπτη πρωί.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-5" data-toggle="collapse" aria-expanded="false" aria-controls="card-5">
                                    <h4>5. Τι ώρες γίνονται οι παραδόσεις;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-5">
                                <p>Οι παραδόσεις γίνονται 7 μέρες την εβδόμαδα απο τις 3μμ έως τις 11μμ~ (ανάλογα την περιοχή).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="faqs-block">
                <div><h2>Συχνές Ερωτήσεις</h2></div>
                <div class="round-block">
                    <div class="card-list">
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-11" data-toggle="collapse" aria-expanded="false" aria-controls="card-11">
                                    <h4>1. Ποιες περιοχές καλύπτουμε με την διανομή μας;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-11">
                                <p>Οι περιοχές που καλύπτουμε είναι περιορισμένες στο Λουτράκι και τις κοντινές του πόλεις.
                                    Γίνεται διανομή σε Κόρινθο, Λέχαιο, Ζευγολατιό, Βραχάτι, Περαχώρα με επιπλέον έξοδα μεταφοράς.
                                    Τα επιπλέον έξοδα μεταφοράς είναι + 5eur για τις περιοχές εκτός της πόλης του Λουτρακίου και συνήθως
                                    θα εμφανίζεται κατά την ολοκλήρωση της παραγγελίας σας
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-6" data-toggle="collapse" aria-expanded="false" aria-controls="card-6">
                                    <h4>2. Η πληρωμή με ποιους τρόπους μπορεί να πραγματοποιηθεί;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-6">
                                <p>Η πληρωμή γίνεται με αντικαταβολή στον ειδικό μας, αμέσως μετά το στήσιμο του ναργιλέ στο χώρο σας.
                                    Είναι στην ευχέρεια του ειδικού μας, μετά απο συνεννόηση, να δεχτεί είτε τραπεζικη μεταφορά, 
                                    είτε πληρωμή μέσω Revolut ή Paypal.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-7" data-toggle="collapse" aria-expanded="false" aria-controls="card-7">
                                    <h4>3. Τι γίνεται αν μου σπάσει ο ναργιλές;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-7">
                                <p>Σε περίπτωση ζημιάς στον εξοπλισμό καλείστε να αποζημιώσετε σύμφωνα με την αποδοχή
                                    παραγγελίας που κάνετε κατά της ολοκλήρωσή της στο site μας και με την παραλαβή της 
                                    στον χώρο σας.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-8" data-toggle="collapse" aria-expanded="false" aria-controls="card-8">
                                    <h4>4. Τι γίνεται αν σβήσει ο ναργιλές και δεν μπορώ να τον ανάψω ξανά;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-8">
                                <p>Για να σβήσουν τα κάρβουνα πρέπει να βραχούν με κάποιο υγρό, να απομακρυνθεί 
                                    το καλούντ με τα κάρβουνα από την θέση του ή να παραμείνει ο ναργιλές αναμμένος 
                                    χωρίς να γίνεται χρήση του για μεγάλο χρονικό διάστημα. Σε αυτή την περίπτωση 
                                    ανάβετε νέο σετ απο καρβουνάκια.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-9" data-toggle="collapse" aria-expanded="false" aria-controls="card-9">
                                    <h4>5. Πόση ώρα πριν μπορώ να ακυρώσω την παραγγελία μου;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-9">
                                <p>Οι ακυρώσεις μπορούν να γίνουν έως μια ώρα πριν από την ώρα παράδοσης.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a role="button" href="#card-10" data-toggle="collapse" aria-expanded="false" aria-controls="card-10">
                                    <h4>6. Αν δεν μου αρέσει η γεύση που έχω παραγγείλει, μπορώ να την αλλάξω; Και με ποιον τρόπο;</h4>
                                </a>
                            </div>
                            <div class="card-body collapse" id="card-10">
                                <p>Γεύση δεν μπορεί να αλλαχτεί την ίδια στιγμή για αυτό καλό θα ήταν να επιλέξετε παραπάνω από μια 
                                    γεύση με την παραγγελία σας. Για τον λόγο αυτό η παραγγελία σας πάντα συνοδεύεται από 2  
                                     διαφορετικές γεύσεις.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->

</body>

</html>