<!DOCTYPE html>
<html lang="el">
<head>
    
    {{> head }}

    <title>Shishahub - Deluxe Hookah Delivery στο χώρο σας</title>

    <link rel="canonical" href="https://shishahub.online/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">

</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->
    <main>
        <div class="container py-2 px-0 w-100">
            
            <div class="row reverse-row w-100 m-auto">

                <div class="col-lg-5">
                    <div class="inside-block inside-block-slideshow mx-auto">
                        <div id="slideshow" class="mx-auto">
                            <div class="text-center"><img src="/img/products/amy-bamboo-2-600x600.jpeg" height="350px"></div>
                            <div class="text-center"><img src="/img/products/hookah_double_1.jpg" height="350px"></div>
                            <div class="text-center"><img src="/img/home/aladin-mvp-470-flower.jpeg" alt="aladin" height="350px"></div>
                            <div class="text-center"><img src="/img/home/amy-bamboo-3.jpeg" height="350px"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-7">
                    <div class="inside-block p-2" style="height: 100%;">
                        <div class="text-center w-100 px-3 py-3 yoArea">
                                <div class="w-100" style="height: fit-content;"> <h2 class="m-0">Deluxe Hookah</h2></div>
                                <div class="w-100" style="height: fit-content;"> <h1 id="delivery" >DELIVERY</h1></div>
                                <div class="w-100"> <h2>SERVICE</h2></div>
                                <div class="w-100 pr-5 text-right mt-3"> 
                                    <span>#nargilesstospiti</span>
                                </div>
                        </div>
                        <div class="outer-comments mt-3">
                                {{!-- <span>comments</span> --}}
                                <div class="inner-comments">
                                    <div class="w-100 py-1 px-5">
                                        <span>Comment from</span>
                                        <span style="color: burlywood;">Giannis</span>
                                        <em>on</em>
                                        <span>3/5/21</span>
                                    </div>
                                    <div class=" pb-1 px-2 mx-auto text-center" style="color: rgb(225, 165, 88);">
                                        Premium ναργιλές και απίστευτη ποιότητα γεύσης, παρόλο που είναι no tobacco!!
                                        Τυχερό το Λουτράκι που έχει τέτοιες παροχές!
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row w-100 mx-auto my-4">

                <div class="col-lg-5 mb-3">
                    <div class="orderOne w-100 px-5 mx-auto py-4">
                        <div><h5>Παράγγειλε τώρα και απόλαυσε τον ναργιλέ στον χώρο σου!</h5></div>
                        <div class="w-100 text-right pr-4 mt-3" style="font-size: 1rem;">
                            <span>Αποστολές σε <span class="brown">Λουτράκι</span> μέχρι τις <span class="brown">9:30μμ</span></span></div>
                        <div class="w-100 text-right pr-4 mt-1 mb-3" style="font-size: 1rem;">
                            <span><span class="brown">Κόρινθο</span> και γύρω περιοχές μέχρι τις <span class="brown">8:30μμ</span></span></div>
                        <div>
                            <a href="/product/productList" class="btn btn-warning w-100">
                                <span>Παράγγειλε τώρα</span>
                                <img src="/img/cart.png" alt="image for cart" width="25px">
                            </a>
                        </div>
                    </div>
                </div>

                

                <div class="col-lg-7">

                    <div class="faqs p-4 mb-4">
                        <div class="w-100"><h5>Παραγγέλνεις πρώτη φορά και έχεις απορίες;</h5></div>
                        <div class="w-100"><span>Μην ανησυχείς! Οι άνθρωποί μας έχουν φροντίσει για εσένα!</span></div>
                        <div class="w-100"><a href="/faqs">Συχνές Ερωτήσεις</a></div>
                    </div>

                    <div class="social p-1">
                        <div class="yo w-100 row mx-auto py-2">
                            <div class="col-1"></div>
                            <div class="col-2 p-0"><img src="/img/logos/circle-logo.png" alt="logo" width="55px"></div>
                            <div class="col-3 p-0 ml-3" style="line-height: 50px; font-size:0.7em;"> <span>Βρείτε μας</span></div>
                            <div class="col-1 p-0" style="line-height: 50px; text-align:end;"> <a href="https://www.instagram.com/shishahub.hookah.delivery/" target="_blank"><img src="/img/instagramIcon.png" alt="instagram" width="35px"></a></div>
                            <div class="col-1 p-0 ml-4" style="line-height: 50px; text-align:start;"> <a href="https://www.facebook.com/shishahublc" target="_blank"><img src="/img/facebookIcon.png" alt="facebook" width="35px"></a></div>
                        </div>
                    </div>

                </div>


            </div>

            

           {{!--  <div class="row w-100 smoking my-3 mx-auto">
                <span class="mx-auto">ΤΟ ΚΑΠΝΙΣΜΑ ΒΛΑΠΤΕΙ ΣΟΒΑΡΑ ΤΗΝ ΥΓΕΙΑ</span>
            </div> --}}

        </div>
    </main>
<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->
<script src="/js/index.js"></script>


</body>

</html>