<!DOCTYPE html>
<html lang="el">
<head>

    {{>head}}

    <title>Προϊόντα - Shishahub: Deluxe Hookah Delivery στο χώρο σας</title>
    
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/productList.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->
    <main>
        <div class="container mx-auto">
            <div class="w-100 mx-auto my-3 text-center"><h2 class="px-0">Προϊόντα</h2></div>
            <div class="row w-100 mx-auto">

                <div class="col-lg-5 w-100 mx-auto my-3 p-1 product-div">
                    <div class="col-12 text-center p-2">
                        <img src="/img/products/hookah_double.jpg" alt="o2 hookah" width="300px">
                    </div>
                    <div class="col-12 p-2">
                        <h4 class="w-100 mt-2 text-center" ><span id="titleYo" class="deluxe">Double Premium</span> Hookah Session</h4>
                        <hr>
                        <div class="w-100 mx-auto px-3 description">
                            <em>- Μεγάλος Διπλός Ναργιλές 80cm</em><br>
                            <em>- 2 σωλήνες για 2 χρήστες ταυτόχρονα</em><br>
                            <em>- Έξτρα ποσότητα γεύσης</em><br>
                            <em>- Ποικιλία γεύσεων για να διαλέξεις</em>
                        </div>
                    </div>
                    <div class="col-12 price text-center"><em>τιμές από 35EUR</em></div>
                    <div class="col-12 text-center">
                        <a href="/product/productDouble" class="btn m-2 px-5 p-2 btn-warning">Επιλογή</a>
                    </div>
                </div>

                <div class="col-lg-5 w-100 mx-auto my-3 p-1 product-div">
                    <div class="col-12 text-center p-2">
                        <img src="/img/products/amy-bamboo-2-600x600.jpeg" alt="deluxe hookah" width="300px">
                    </div>
                    <div class="col-12 p-2">
                        <h4 class="w-100 text-center"><span class="deluxe">Deluxe</span> Hookah Session</h4>
                        <hr>
                        <div class="w-100 mx-auto px-3 description">
                            <em>- <span class="deluxe">Deluxe</span> Ναργιλές</em><br>
                            <em>- Coco καρβουνάκια καρύδας</em><br>
                            <em>- Η γνήσια απόλαυση του ναργιλέ</em><br>
                            <em>- Ποικιλία γεύσεων για να διαλέξεις</em>
                        </div>
                    </div>
                    <div class="col-12 price text-center"><em>τιμές από 25EUR</em></div>
                    <div class="col-12 text-center">
                        <a href="/product" class="btn m-2 px-5 p-2 btn-warning">Επιλογή</a>
                    </div>
                </div>

            </div>
        </div>
    </main>
<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->

</body>

</html>