.card-header a{
    display: block;
    text-decoration: none;
    color: rgb(0, 73, 128);
}
.card-body{
    color: black;
    font-size: 80%;
}
hr{
    width: 90%;
    margin: 2px auto;
}
.admin{
    color: brown;
}

#earnings{
    background-color: white;
    color: black;
    border-radius: 5px;
}
#earnings span{
    color: brown;
}