main{
  
}
main .container{
    margin: 30px auto 0;
    
}

.reverse-row{
    flex-wrap: wrap-reverse;
    
}

.whiteBlocks{
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    margin:0px 10px 20px;
  
}

.contact-form label{
    margin-top: 8px;
}
.contact-form .fields{
    background-color: rgb(228, 228, 228);
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.contact-form label span{
    font-size: 10px;    
}
.contact-form label sup{
    color: red;
}
.contact-form input{
    padding: 3px;
}

#textArea{
    min-height: 100px;
}
#submitButton{
    width: 5rem;
    height: 2.5rem;
}

.social-media-block a{
    text-decoration: none;
    background-color: rgb(51, 109, 255);
    color: white;
    width: 100%;
    margin: 0.8em auto;
    padding: 0.8em 1em;
    border-radius: 5px;
    width: 200px !important;
}
