
footer{
    background-color: black;
    color: rgb(240, 240, 240);
    margin: 0 auto;
    padding: 10px 0px 10px;
    font-size:0.8em ;
}
.footer-container{  
    margin: 0 auto;
    text-align: center;
}
#desingedFooter{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}