/* header */

header{
}

#topLinkLine{
    background-color: black;
    height: 14px;
    margin-bottom: 8px;
    display: none;
}

#header{
    height: 150px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.761);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
    
}
.header-container{
    max-width: 1200px;
    height: 150px;
    padding: 0;
    margin: 0 auto;
}

#navbarNav{
    z-index: 1000;
}
.header-menu{
    padding: 0;
    
}
.header-menu button{
    display: none;
}
.header-menu button img{
    height: 38px;
    width: 43px;
    z-index: 1000;
}
.header-menu .collapse{
    display: unset;
}
.nav-menu ul{
    height: 150px;
    padding: 35px 0px;
}
.nav-menu ul li{
    width: 100%;
}
.navbar-nav{
    flex-direction: unset;
    margin: 0;
    padding: 0px;
}
.nav-item{
    padding: 0;
}
.nav-link{
    font-size: 1.25em; 
    padding: 1.1em 0;
    text-align: center;
    color: white;
    height: 80px;
    
}
.nav-link:hover, .nav-item:hover{
    background-color: rgba(100, 100, 100, 0.8);
    box-shadow: 1px 1px 10px rgb(111, 111, 111);
    color: white;
}
.header-menu #orderNavItem{
    display: none;
}

.header-logo{
    text-align: center;
    line-height: 150px;
    padding: 0;
}
.header-logo img{
    padding: 10px;
    border-radius: 40px;
}
.header-logo img:hover{
    /* box-shadow: 1px 1px 20px rgb(67, 67, 67); */
}

.header-account{
    margin: 0 auto;
    padding: 35px 0px;
    position: relative;
}
.header-account a{
    text-align: center;
    width: 50%;
}
.header-account #drpdown-login{  
    z-index: 1200;
    background-color: rgb(86, 86, 86);
    min-width: 220px;
    right: 0;
    left: unset;
    position: absolute;
    min-height: max-content;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
}
.header-account .form-group label{
    display: inline-block;
    width: 100%;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.header-account #drpdown-login button,
.header-account #drpdown-login a{
    width: 48%;
}
.header-account .form-group:nth-child(1){
    margin-bottom: 0;
}
.header-account .form-group:nth-child(2){
    margin-bottom: 20px;
}
.form-group:nth-child(3){

}
.header-account #orderAccountLink{
    display: block;
    line-height: unset;
    max-height: 80px;
    background-color: rgb(31, 101, 254);
    box-shadow: 1px 1px 1px rgb(124, 166, 252);
}
.header-account #orderAccountLink a:hover{
    background-color: rgb(0, 81, 255);
}
.header-account #orderAccountLink a{
    padding: 10px;
}
.header-account #loggedIn-dropdown{
    z-index: 1200;
    background-color: rgb(86, 86, 86);
    min-width: 170px;
    right: 0;
    left: unset;
    position: absolute;
    min-height: max-content;
    border-radius: 5px;
}
.header-account #loggedIn-dropdown a{
    text-decoration: none;
    color: white;

}
.header-account #loggedIn-dropdown .btn{
    min-width: fit-content;
    margin: 0 auto;
}
.header-account #loggedIn-dropdown hr{
    width: 80%;
    margin: 0 auto;
}
#accountToggle span{
    display: inline;
}
#accountToggle img{
    display: none;
}
#accountToggle{
    padding: 10px;
}
@media screen and (max-width: 1200px) {
    .nav-link span{
        font-size: 15px;
    }
    #header-logo{
        max-width: 350px;
    }
}

@media screen and (max-width: 1088px) {
    .nav-item:nth-child(2) .nav-link{
        line-height: unset;
    }    
}

@media screen and (max-width: 800px) {
    
    .header-menu .navbar-nav{
        flex-direction: column;
        height: 100%;
        padding: 10px 0px;
    }
    .header-menu li a{
        width: 60%;
        margin: 0 auto;
    }
    .header-menu .collapse{
        display: none;
    }
    .header-menu .show{
        display: block;
        position: absolute;
        overflow: visible;
        width: 100vw;
        background-color: rgb(0, 33, 89);
        margin-top: 5px;
    }
    .header-menu .collapsing{
        display: none;
        -webkit-animation-duration: 0s;
    }
    .header-menu{
        flex: 0 0 20%;
        max-width: 20%;
        text-align: center;
    }
    .header-menu #navbarNav{
        height: 420px;
    }
    .header-menu button{
        display: unset;
        margin: 58px auto;
        padding: 2px 4px;
        border: solid rgba(255, 255, 255, 0.592) 1px;
    }
    .header-menu #orderNavItem{
        display: list-item;
    }    

    #header-logo{
        max-width: 225px;
    }
    .header-logo{
        flex: 0 0 60%;
        max-width: 60%;
    }

    #help-col{
        display: none;
    }

    .header-account{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .header-account img{
        width: 20px;
    }
    .header-account #navbarDropdownToggle{
        width: 100%;
    }
    #drpdown-login{
        left: -120px;
    }
    .header-account #orderAccountLink{
        display: none;
    }
    .header-account .dropdown{
        flex: 0 0 100% !important;
        max-width: 100%;
    }
    #accountToggle{
        padding: 22px;
    }
    #accountToggle span{
        display: none;
    }
    #accountToggle img{
        display: inline;
    }
}
