@font-face {
  font-family: "quite_magicalregular";
  src: url("/css/fonts/quitemagicalregular-8va2-webfont.woff2") format("woff2"),
    url("/css/fonts/quitemagicalregular-8va2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

main {
  max-width: 1400px;
  background-color: transparent;
  margin: 5px auto;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.smoking {
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  border-left: solid black 10px;
  border-right: solid black 10px;
  background-color: white;
  color: black;
}

main .container {
  background-color: transparent;
  border-radius: 5px;
}

#home-image img {
  border-radius: 5px;
  max-height: 400px;
}
.inside-block {
  border-radius: 5px;
}
.inside-block-slideshow{
  max-width: fit-content;
  padding: 5px;
  border: 2px solid burlywood;
  border-radius: 5px;
}
#slideshow {
  background-color: rgba(77, 77, 77, 0.5);
  border-radius: 5px;
  padding: 0px;
  box-shadow: 0px 0px 24px 6px rgba(138,138,138,1);
  
}
#slideshow img {
  border-radius: 5px;
}
.yoArea-outside{
  padding: 5px;
  border: 2px solid burlywood;
  border-radius: 5px;
}
.yoArea {
  height: 70%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-shadow: 0px 0px 5px burlywood;
  box-shadow: 0px 0px 24px 6px rgba(138,138,138,1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.yoArea div:nth-child(1) {
  height: 10px;
}
.yoArea div:nth-child(2) {
  height: 100px;
}
.yoArea span:nth-child(1),
.yoArea span:nth-child(3) {
  font-size: 150%;
}
#delivery {
  color: rgb(225, 165, 88);
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 500%;
}
.brown {
  color: burlywood;
}
.outer-comments {
  border-radius: 5px;
  border: 2px solid burlywood;
  color: white;
  min-height: 110px;
  padding: 5px;
}
.inner-comments{
  box-shadow: 0px 0px 24px 5px rgba(138,138,138,1);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  min-height: 100px;
}

.reverse-row {
  flex-wrap: wrap-reverse;
}
.orderOne-outside{
  padding: 5px;
  border-radius: 5px;
  border: 2px solid burlywood;
}
.orderOne {
  max-width: 450px;
  min-height: 230px;
  color: rgb(225, 225, 225);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 24px 6px rgba(138,138,138,1);
  border-radius: 5px;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.orderOne .title1{
  padding: 25px 30px 10px;
}
.orderOne .title2{
  padding-right: 30px;
  padding-bottom: 20px;
}
.orderOne .btn-div{
  padding-bottom: 25px;
}
.orderOne .btn-div a{
  width: 250px;
  background-color: #852002;
  color: white;
}
.orderOne .btn-div a:hover{
  
  background-color: #962604;
  border: solid 1px #852002;
}
.social {
  background-color: rgba(0, 187, 255, 1);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 79px;
  max-width: 400px;
}
.social-logo{
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}
.faqs-container{
  padding-bottom: 24px;
}
.faqs-outside{
  padding: 5px;
  border-radius: 5px;
  border: 2px solid burlywood;
}
.faqs {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 20px 30px ;
  box-shadow: 0px 0px 24px 6px rgba(138,138,138,1);
}
.faqs span {
  color: rgb(175, 175, 175);
  font-size: 0.9em;
}
.faqs a {
  text-decoration: none;
}

.yo {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  #slideshow img {
    max-height: 300px;
  }
  .home-image {
  }
  #delivery {
    font-size: 400%;
  }
  .yoArea div:nth-child(1) {
    height: 25px;
  }
  .orderOne {
    font-size: 1.5em;
    min-height: unset;
  }

  .slideshow-col{
    padding-top: 16px;
  }

  .orderOne .title1{
    padding: 20px 15px 10px;
  }
  .orderOne .title2{  
    padding-right: 15px;
  }
  .orderOne .btn-div{
    
  }
  .orderOne .btn-div a{

  }
}


#slideshow .slick-dots{
  padding: 1px;
  margin: 0;
  text-align: center;
}
#slideshow .slick-dots li{
  display: inline-block;
  line-height: 10px !important;
  padding: 0 5px;
}
#slideshow .slick-dots li button{
  color: transparent;
  border-radius: 50%;
  border: 0;
  background-color: rgb(20, 20, 20);
  width: 10px;
  height: 12px;
}
.slick-active button{
  background-color: burlywood !important;
}