@font-face {
    font-family: 'quite_magicalregular';
    src: url('/css/fonts/quitemagicalregular-8va2-webfont.woff2') format('woff2'),
         url('/css/fonts/quitemagicalregular-8va2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#slideshow{
    width: 440px !important;
}


select{
    max-width: 300px;
}

.deluxe{
    color: burlywood;
    font-weight: bolder;
    font-family: 'quite_magicalregular';
    font-size: 125%;
}

@media screen and (max-width: 800px) {

    #slideshow{
        width: 330px !important;
        height: 370px;
    }
    #slideshow div{
        width: 310px;
    }
    #slideshow img{
        width: 310px;
        height: 350px;
    }
}